/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--default-bg-color);
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.list {
  list-style: none;
}

.item {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

:root {
  --default-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --second-text-color: #757575;
  --main-text-color: #212121;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --soc-icon-fill: #afb1b8;
  --overlay-color: rgba(47, 48, 58, 0.8);
  --overlay-accent: rgba(33, 150, 243, 0.9);
  --duration: 250ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--duration) var(--transition-timing);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  min-height: 609px;
  padding-left: 41px;
  padding-right: 39px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--default-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration) var(--transition-timing);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal__close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--default-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--duration) var(--transition-timing);
}
.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
}

.form-field__box {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.form-field__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.form-field__input {
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-timing) var(--duration);
}
.form-field__input:hover, .form-field__input:focus {
  outline: transparent;
  border-color: #2196f3;
}
.form-field__input:hover + svg, .form-field__input:focus + svg {
  fill: var(--accent-color);
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);
  transition: fill var(--transition-timing) var(--duration);
}

.form-field__textarea {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  width: 100%;
  transition: border-color var(--transition-timing) var(--duration);
}
.form-field__textarea:hover, .form-field__textarea:focus {
  outline: transparent;
  border-color: #2196f3;
}
.form-field__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--default-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--transition-timing);
}
.form-field__button:hover {
  background-color: #188ce8;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  background-origin: border-box;
  background-size: contain;
  border-color: transparent;
}

.checkbox__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  color: var(--second-text-color);
}
@media screen and (min-width: 1200px) {
  .checkbox__title {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  fill: transparent;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
}

.checkbox__link {
  margin-left: 5px;
  color: var(--accent-color);
}

.header {
  background-color: var(--default-bg-color);
  border-bottom: 1px solid #ececec;
  height: 80px;
}
.header__nav {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.16;
  color: var(--logo-color);
}
.logo__accent {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: block;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}

.navigation__list {
  display: flex;
}

.navigation__item {
  position: relative;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link, .contacts__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--duration) var(--transition-timing);
}
.navigation__link:hover, .contacts__link:hover, .navigation__link:focus, .contacts__link:focus {
  color: var(--accent-color);
}
.navigation__link.current::after, .current.contacts__link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}
.navigation__link.current, .current.contacts__link {
  color: var(--accent-color);
}

.navigation__button {
  position: absolute;
  top: 20px;
  right: 10px;
  display: inline-flex;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .navigation__button {
    display: none;
  }
}

.contacts {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
    margin-bottom: 0;
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  color: var(--second-text-color);
}
.contacts__link.first {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__link.first {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .contacts__link {
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
.contacts .item:not(:last-child) {
  margin-right: 40px;
}
.contacts__icon {
  margin-right: 10px;
  fill: var(--second-text-color);
  transition: fill var(--duration) var(--transition-timing);
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    margin-right: 8px;
  }
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: currentColor;
}

.hero {
  width: 100%;
  height: 400px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tel-x1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tel-x2.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tablet-x1.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tablet-x2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    background-size: contain;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-desk-x1.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-desk-x2.jpg");
  }
}
.hero__title {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--default-bg-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}
.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 24px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--default-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  transition: background-color var(--duration) var(--transition-timing);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.about__pretitle {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 0;
  }
}

.values__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .values__item {
    width: 354px;
  }
}
.values__item:not(:last-child) {
  margin-bottom: 30px;
}
.values__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
.values__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.values__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--section-bg-color);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .values {
    display: flex;
    flex-wrap: wrap;
  }
  .values__item:nth-child(odd) {
    margin-right: 30px;
  }
  .values__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .values__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .values__item {
    width: 270px;
  }
  .values__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .values__title {
    text-align: left;
  }
}

.solution {
  display: none;
}
@media screen and (min-width: 1200px) {
  .solution {
    display: block;
  }
}

.solution__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.direction {
  display: flex;
  justify-content: space-between;
}
.direction__thumb {
  display: flex;
  position: relative;
  justify-content: center;
}
.direction__thumb::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: var(--overlay-color);
  height: 70px;
  width: 100%;
  bottom: 0;
}
.direction__description {
  position: absolute;
  bottom: 27px;
  color: var(--default-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.direction .item + .item {
  margin-left: 30px;
}

.command {
  background-color: var(--section-bg-color);
}
.command__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
}
@media screen and (min-width: 1200px) {
  .command__title {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .person__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .person__list {
    width: 100%;
    flex-wrap: nowrap;
  }
}

.person__item {
  width: 100%;
  padding-bottom: 24px;
  background: var(--default-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.person__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .person__item {
    width: calc((100% - 30px) / 2);
  }
  .person__item:nth-child(odd) {
    margin-right: 30px;
  }
  .person__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .person__item {
    margin-bottom: 0;
  }
  .person__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.person__title-box {
  padding-top: 30px;
  padding-bottom: 16px;
}

.person__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.person__job {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text-color);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__item {
  width: 44px;
  height: 44px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__icon {
  fill: var(--soc-icon-fill);
  transition: fill var(--duration) var(--transition-timing);
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--duration) var(--transition-timing);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--default-bg-color);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--default-bg-color);
}

.client__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.partner {
  display: flex;
  flex-wrap: wrap;
}
.partner__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.partner__icon {
  fill: var(--soc-icon-fill);
  transition: background-color, fill var(--duration) var(--transition-timing);
}

.partner__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc((100% - 30px) / 2);
  height: 92px;
  margin-bottom: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--duration) var(--transition-timing);
}
.partner__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}
.partner__item:nth-child(odd) {
  margin-right: 30px;
}
.partner__item:hover, .partner__item:focus {
  border: 1px solid var(--accent-color);
}
.partner__item:hover .partner__icon, .partner__item:focus .partner__icon {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .partner__item {
    width: calc((100% - 60px) / 3);
  }
  .partner__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
  .partner__item:nth-child(odd) {
    margin-right: 0;
  }
  .partner__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .partner__item {
    flex-wrap: nowrap;
    width: 170px;
    margin-bottom: 0;
  }
  .partner__item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer {
  background-color: var(--footer-bg-color);
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__position {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__position {
    display: flex;
    flex-wrap: nowrap;
  }
}
.footer__logo {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 28px;
  color: var(--default-bg-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.address-box {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .address-box {
    margin-left: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .address-box {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.address {
  font-style: inherit;
}
.address__item {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address__item {
    text-align: left;
  }
}
.address__item:not(:last-child) {
  margin-bottom: 12px;
}

.address__contact {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  color: var(--default-bg-color);
  transition: color var(--duration) var(--transition-timing);
}
.address__contact.link:hover, .address__contact.link:focus {
  color: var(--accent-color);
}
.address__contact.color {
  color: var(--footer-text-color);
}

.join {
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  width: 206px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .join {
    margin-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 94px;
    margin-right: 0;
  }
}
.join__title, .subscribe__title {
  text-align: center;
  color: var(--default-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .join__title, .subscribe__title {
    text-align: left;
  }
}
.join__link {
  background-color: rgba(255, 255, 255, 0.1);
}
.join__icon {
  fill: var(--default-bg-color);
}

/* ====================Subscribe =================*/
.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    display: block;
    margin-left: auto;
  }
}
.subscribe__title {
  margin-bottom: 20px;
}
.subscribe__icon {
  margin-left: 10px;
}

.subscribe__input {
  padding: 15px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-bg-color);
  color: var(--default-bg-color);
  transition: border var(--duration) var(--transition-timing);
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
    margin-right: 144px;
    margin-left: 144px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-right: 12px;
    width: 358px;
    margin-left: 0;
  }
}
.subscribe__input:hover, .subscribe__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.subscribe__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--default-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  transition: background-color var(--duration) var(--transition-timing);
}
.subscribe__button:hover {
  background-color: #188ce8;
}

.mobile-menu {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: var(--default-bg-color);
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 48px 40px;
  transition: top var(--duration) var(--transition-timing);
}
.mobile-menu.is-hidden {
  top: -500px;
  opacity: 0;
  pointer-events: none;
}
.mobile-menu .container {
  display: block;
  height: 100%;
  padding: 0;
}
.mobile-menu .mobile-menu__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu__button {
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  top: 20px;
  right: 10px;
  transition: fill var(--duration) var(--transition-timing);
}
.mobile-menu__button:hover, .mobile-menu__button:focus .mobile-menu__close-icon {
  fill: var(--accent-color);
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--duration) var(--transition-timing);
}
.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: var(--accent-color);
}
.mobile-nav__link.current {
  color: var(--accent-color);
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contacts__mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.mobile-social__list {
  display: flex;
  margin-top: 64px;
}

.mobile-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.menu .item + .item {
  margin-left: 8px;
}

.menu__button {
  display: inline-block;
  padding: 6px 22px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--header-color-title);
  background-color: var(--section-bg-color);
  border-radius: 4px;
  border-style: none;
  transition-property: color, box-shadow, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--transition-timing);
}
.menu__button:hover, .menu__button:focus {
  color: var(--default-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  padding-top: 100px;
  padding-bottom: 94px;
}

.project {
  display: flex;
  flex-wrap: wrap;
}
.project__description {
  padding: 20px 24px;
}
.project__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-text-color);
}
.project__text {
  position: absolute;
  top: 63px;
  left: 24px;
  color: var(--default-bg-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  opacity: 0;
  transform: translateY(135%);
  transition-property: transform, opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--transition-timing);
}

.project__item {
  width: 370px;
  background: var(--default-bg-color);
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}
.project__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.project__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.project__item:hover .project__text {
  transform: translate(0);
  opacity: 1;
}
.project__item:hover, .project__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__item:hover .project__thumb::before, .project__item:focus .project__thumb::before {
  transform: translateY(0);
  opacity: 1;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}
.project__thumb::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-accent);
  opacity: 0;
  transform: translateY(100%);
  transition-property: transform, opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--transition-timing);
}/*# sourceMappingURL=main.css.map */