:root {
    --default-bg-color: #ffffff;
    --footer-bg-color: #2f303a;
    --section-bg-color: #f5f4fa;
    --accent-color: #2196f3;
    --logo-color: #000000;
    --second-text-color: #757575;
    --main-text-color: #212121;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --soc-icon-fill: #afb1b8;
    --overlay-color: rgba(47, 48, 58, 0.8);
    --overlay-accent: rgba(33, 150, 243, 0.9);

    --duration: 250ms;
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
