.footer {
  background-color: var(--footer-bg-color);
  padding-bottom: 60px;
  padding-top: 60px;

  &__position {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
    @include desktop {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__logo {
    display: block;

    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 28px;
    color: var(--default-bg-color);
    text-align: center;

    @include desktop {
      text-align: left;
    }
  }
}

.address-box {
  margin-bottom: 60px;

  @include tablet {
    margin-left: calc(79px - 15px);
  }
  @include desktop {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.address {
  font-style: inherit;

  &__item {
    text-align: center;
    @include desktop {
      text-align: left;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 12px;
  }
}

.address__contact {
  display: inline-block;
  margin: 0;
  @include font(null, 14, 1.14, null);
  color: var(--default-bg-color);
  transition: color var(--duration) var(--transition-timing);

  &.link:hover,
  &.link:focus {
    color: var(--accent-color);
  }

  &.color {
    color: var(--footer-text-color);
  }
}

.join {
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  width: 206px;
  height: 80px;

  @include tablet {
    margin-right: calc(89px - 15px);
  }
  @include desktop {
    margin-left: 94px;
    margin-right: 0;
  }

  &__title {
    text-align: center;
    color: var(--default-bg-color);
    @include font(700, 14, 1.14);
    text-transform: uppercase;
    margin-bottom: 20px;

    @include desktop {
      text-align: left;
    }
  }

  &__link {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__icon {
    fill: var(--default-bg-color);
  }
}
/* ====================Subscribe =================*/

.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include desktop {
    display: block;
    margin-left: auto;
  }

  &__title {
    @extend .join__title;
    margin-bottom: 20px;
  }

  &__icon {
    margin-left: 10px;
  }
}

.subscribe__input {
  padding: 15px 16px;
  margin-bottom: 20px;
  width: 100%;

  @include tablet {
    width: 450px;
    margin-right: calc(159px - 15px);
    margin-left: calc(159px - 15px);
  }

  @include desktop {
    margin-right: 12px;
    width: 358px;
    margin-left: 0;
  }

  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-bg-color);
  color: var(--default-bg-color);
  transition: border var(--duration) var(--transition-timing);

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}

.subscribe__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-family: inherit;
  @include font(700, 16, 1.88, $ls: 0.06em);
  color: var(--default-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  transition: background-color var(--duration) var(--transition-timing);

  &:hover {
    background-color: #188ce8;
  }
}
