.menu {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;

  & .item + .item {
    margin-left: 8px;
  }
}

.menu__button {
  display: inline-block;
  padding: 6px 22px;
  cursor: pointer;

  font-family: inherit;
  @include font(500, 16, 1.62, null);
  text-align: center;

  color: var(--header-color-title);
  background-color: var(--section-bg-color);

  border-radius: 4px;
  border-style: none;

  transition-property: color, box-shadow, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--default-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
